<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>thymeleaf calc</title>
</head>
<body>
	<h1>thymeleaf calc</h1>
	<h2>산술연산</h2>
	15 + 7 = [[${ 15 + 7 }]] <br />
	15 - 7 = [[${ 15 - 7 }]] <br />
	15 * 7 = [[${ 15 * 7 }]] <br />
	15 / 7 = [[${ 15 / 7 }]] <br />
	15 % 7 = [[${ 15 % 7 }]] <br />
	<h2>비교연산</h2>
	15 > 7 = [[${ 15 > 7 }]] <br />
	15 >= 7 = [[${ 15 >= 7 }]] <br />
	15 <= 7 = [[${ 15 <= 7 }]] <br />
	15 < 7 = [[${ 15 < 7 }]] <br />
	15 == 7 = [[${ 15 == 7 }]] <br />
	15 != 7 = [[${ 15 != 7 }]] <br />
	<br />
	15 > 7 = [[${ 15 gt 7 }]] <br />
	15 >= 7 = [[${ 15 ge 7 }]] <br />
	15 <= 7 = [[${ 15 le 7 }]] <br />
	15 < 7 = [[${ 15 lt 7 }]] <br />
	15 == 7 = [[${ 15 eq 7 }]] <br />
	15 != 7 = [[${ 15 ne 7 }]] <br />
	<h2>조건연산</h2>
	15 > 7 ? '합격' : '불합격' |= [[${ 15 > 7 ? '합격' : '불합격' }]] <br />
</body>
</html>