<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>stsMVCproj</title>
</head>
<body>
	<h1>stsMVCproj 입니다.</h1>
	<h2>request</h2>
	<a href="request/attr1">attr1</a>
	<a href="request/attr2">attr2</a>
	<a href="request/attr3">attr3</a>
	<a href="request/attr4?age=33&nick=zxcv&jum=19&jum=28&jum=37">attr4</a>
	<a href="request/attrForm">attrForm</a>
	<a href="signUp/sig">회원가입</a>
	<a href="request/order">상품</a>
	<br/>
	<a href="request/param1?id=aaa&age=26&marriage=false">param1</a>
	<a href="request/param2?id=bbb&age=16&marriage=true">param2</a>
	<a href="request/param1?id=ccc">param1</a>
	<a href="request/param2?id=ddd">param2</a>
	<a href="request/param3?id=eee&age=36&marriage=false">param3</a>
	<a href="request/param3?id=ggg">param3</a>
	<a href="request/param4?id=hhh&age=22&marriage=true">param4</a>
	<a href="request/param4?id=iii">param4</a>
	<br/>
	<a href="assignCoffee/coffee1">커피</a>
	<h2>redirect</h2>
	<a href="red/from1">from1</a>
	<a href="red/from1?id=hhh&age=22&marriage=true">from1</a>
	<a href="red/from2">from2</a>
	<a href="red/from3">from3</a>
	<a href="red/from4?id=ccc&age=67&marriage=false">from4</a>
	<a href="red/from5?id=ddd&age=17&marriage=true">from5</a>
	<a href="red/from6?id=fff&age=31&marriage=true">from6</a>
	<h2>file</h2>
	<a href="file/upload">upload</a>
	<h2>Cookie</h2>
	<a href="cookie/make1">쿠키 생성(make1)</a>
	<a href="cookie/make2">쿠키 생성(make2)</a>
	<a href="cookie/view">쿠키 보기</a>
	<a href="cookie/delete">쿠키 삭제</a>
	<h2>Login</h2>
	<a href="login/login">로그인</a>
	<h2>thymeleaf</h2>
	<a href="thymeleaf/calc">calc</a>
	<a href="thymeleaf/control">control</a>
</body>
</html>