<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<form action="">
		<table border="">
			<tr>
				<td>아이디</td>
				<td><input type="text" name="id" th:value="${ meb.id }" /></td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td><input type="text" name="pw" th:value="${ meb.pw }" /></td>
			</tr>
			<tr>
				<td>비밀번호 확인</td>
				<td><input type="text" name="pwCh" th:value="${ meb.pw }" /></td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input type="text" name="name" th:value="${ meb.name }" /></td>
			</tr>
			<tr>
				<td>이메일</td>
				<td><input type="text" name="email" th:value="${ meb.email }" /></td>
			</tr>
			<tr>
				<td>성별</td>
				<td><input type="text" name="gender" th:value="${ meb.gender }" /></td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="제출" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>