<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>난 attr</title>
</head>
<body>
	<h1>attrForm</h1>
	<form action="attrReg">
		<table border="">
			<tr>
				<td>age</td>
				<td><input type="text" name="age" /></td>
			</tr>
			<tr>
				<td>pname</td>
				<td><input type="text" name="pname" /></td>
			</tr>
			<tr>
				<td rowspan="4">jum</td>
				<td><input type="text" name="jum" /></td>
			</tr>
			<tr>
				<td><input type="text" name="" /></td>
			</tr>
			<tr>
				<td><input type="text" name="" /></td>
			</tr>
			<tr>
				<td><input type="text" name="" /></td>
			</tr>
			<tr>
				<td>gender</td>
				<td><input type="text" name="gender" /></td>
			</tr>
			<tr>
				<td>mil</td>
				<td><input type="text" name="mil" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="입력" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>