<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>board/detail</title>
</head>
<body>
	<h1>board/detail</h1>
	<form action="" th:object="${boardDTO}" method="post" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}" />
		<table border="">
			<tr>
				<td>암호</td>
				<td><input type="text" th:field="*{pw}" /></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="삭제" />
					<a th:href="|/board/detail/${boardDTO.id}|" th:text="뒤로"></a>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>